.ulmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	color: #AEAEAE;
	list-style-position: outside;
	margin-left:0px;
	padding-left:20px;
}

a.menu:link {color: #AEAEAE; text-decoration: none; }
a.menu:active {color: #AEAEAE; text-decoration: none; }
a.menu:visited {color: #AEAEAE; text-decoration: none; }
a.menu:hover {color: #000000; text-decoration: underline; }

a.regular:link {color: #000000; text-decoration: none; }
a.regular:active {color: #000000; text-decoration: none; }
a.regular:visited {color: #000000; text-decoration: none; }
a.regular:hover {color: #FF0000; text-decoration: underline; }

.regtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

.grey {
background-color:#AEAEAE
}
.red {
background-color:#FF0000
}

